<div class="contenedor">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Ingresar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="grupo" class="full-width" (submit)="onClickIngresar()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input id="username" formControlName="username" name="username" type="text" matInput />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input id="password" formControlName="password" name="password" type="password" matInput />
        </mat-form-field>
        <button mat-stroked-button type="submit">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
